@using AgroservicioCuxil.Models;
@model Producto

@{
    ViewData["Title"] = "Crear Producto";
    Layout = "_Layout";
    var relacionTipoSubtipoProducto = ViewBag.RelacionTipoSubtipoProducto;
    var SubtipoProducto = ViewBag.SubtipoProducto;
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                    <h1 class="m-0">
                        Venta
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header ">
                            <h5 class="card-title">
                                <i class="fas fa-cubes"></i> Buscar y agregar productos
                            </h5>
                        </div>
                        <div class="card-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                        <div class="input-group">
                                            <input type="search" id="searchInput" name="busqueda" class="form-control form-control-lg" placeholder="Ingrese su búsqueda">
                                            <div class="input-group-append">
                                                <button type="button" class="btn btn-lg btn-default" onclick="BuscarProducto()">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div>
            <div class="modal fade" id="resultadosBusquedaModal" tabindex="-1" role="dialog" aria-labelledby="resultadosBusquedaModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="resultadosBusquedaModalLabel">Agregar Productos</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Contenedor para los resultados de la búsqueda -->
                            <div id="modalResultadosBusqueda"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>


@section Scripts {
    <script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script>
        var input = document.getElementById("searchInput");

        // Agregar un evento keydown al elemento
        input.addEventListener("keydown", function (event) {
            // Verificar si la tecla presionada es "Enter"
            if (event.keyCode === 13) {
                // Aquí puedes realizar acciones cuando se presiona "Enter"
                BuscarProducto();
            }
        });
        function BuscarProducto() {
            var busqueda = document.getElementById("searchInput").value;
            var Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });

            if (busqueda === "") {
                return;
            }
            if (busqueda.length < 3) {
                Toast.fire({
                    icon: 'info',
                    title: 'Ingrese una descripción mas larga'
                })
                return;
            }

           
            $.ajax({
                url: '@Url.Action("BuscarProducto", "Ventas")',
                type: 'POST',
                data: {
                    busqueda
                },
                success: function (result) {
                    // Actualizar el contenido del contenedor en el modal con los resultados de la búsqueda
                    $("#modalResultadosBusqueda").html(result);

                    // Abrir el modal
                    $("#resultadosBusquedaModal").modal("show");
                },
                error: function (xhr, status, error) {
                    swal({
                        title: "Error",
                        text: "Ocurrió un error al realizar la solicitud.",
                        type: "error"
                    });
                }
            });

        }

        $(document).ready(function () {

        });
    </script>
}

@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
}

